.product-form__submit {
    
    background-color:hotpink;
}

.accordion summary{
  justify-content:center;
}

.accordion__content{
  text-align:center
}
.collapsible-content-wrapper-narrow{
  max-width:113rem !important;
}