.product-form__submit {
    
    background-color:hotpink;
}

 .accordion summary{
  justify-content:center;
}
#CollapsibleAccordion-c670c69b-f4d1-4744-b9aa-dd2827cf39e6-template--19254833381660__9fc4ed78-83ee-415a-a68b-51cc2c474011{
  text-align:center;
}
/*
.accordion__content{
  text-align:center
} */
.collapsible-content-wrapper-narrow{
  max-width:113rem !important;
}
.attribute-name{
  background-color:#f5f5f5;
  min-width:180px;
  padding:0 12px;
  
}
.pdp-meta-row{
  display:flex;
  justify-content:space-between;
  font-size:12px
}
.rte ul{
  list-style-position: initial;
}


/* order dashboard section */

.tov-dashb-orders-label hr{
  margin:-0.6rem 0 5rem 0;
}